{% extends "base.html" %}

{% block content %}
    <h2>Search Similar Campaigns</h2>
    <p>Another way to help you tweak your campaign is to look up similar campaigns, and investigate the differences between those that succeeded and those that failed. Enter details below to search our database of the most recent 10,000 campaigns in the US (since Jan 21, 2020).</p>
    <form action="/queryr" method="post" class='form' name='queryform' onsubmit="return valquery()">
        <div><label for="category">Category</label>
        <select name="category" class='input'>
            <option value="" selected>Choose</option>
            {% for cat in categories %}
                <option value="{{ cat }}">{{ cat }}</option>
            {% endfor %}
        </select></div>
        <div><label for="goal">Goal ($)</label>
        <input name="goal" type="number" class="input"></div>
        <div><label for="location">Location</label>
        <select name="location" class='input'>
            <option value="" selected>Choose</option>
            {% for loc in locations %}
                <option value="{{ loc }}">{{ loc }}</option>
            {% endfor %}
        </select></div>
        <div><label for="blurbphrase">Search Phrase</label>
        <input name="blurbphrase" type="text" class='input'></div>
        <button class='button double'>Search</button>
    </form>
{% endblock %}